BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//ZContent.net//Zap Calendar 1.0//EN
BEGIN:VEVENT
UID:{UUID}
DTSTAMP:{CURRENT_TIME}
ORGANIZER;CN={SENDER_NAME}:MAILTO:{SENDER_EMAIL}
DTSTART:{EVENT_TIME_START}
DTEND:{EVENT_TIME_END}
SUMMARY: {EVENT_NAME}
DESCRIPTION: {EVENT_DESCRIPTION}
END:VEVENT
END:VCALENDAR
